<% 	
	if(typeof(messages)=='undefined')
	{
		messages = [];
	}
%>

<script type="text/javascript">
var now = new Date().toFormat('YYYYMMDD');

setTimeout(function(){
	$(function(){
		$('div.modal').on('shown', function () {
			location.href = "#" + $(this).attr('id');
			
			var $modl = $(this);
			$(document).keyup(function(e){
				if(e.which == 8)
				{
					$modl.modal('hide');
				}
			});
		});
	});
},1500);
</script>


<div class="row-fluid">
<div class="span9">
	<div class="mainsection" style="padding:10px;">

		<h2 class="skinny">
			Inbox
			&nbsp;
			(<strong id="inboxTotal"><%=messages.length%></strong>)
			&nbsp;
		</h2>
		<h5>
			<%=inbox%>		
		</h5>
		<p style="text-align:right;font-size:.8em;">
			<br />
			<a href="/inbox/<%=inbox%>.rss" 
				target="_blank"
				class="btn btn-mini">
				RSS
			</a>
			<a href="/inbox/<%=inbox%>.json" 
				target="_blank"
				class="btn btn-mini">JSON</a>
		</p>
		<hr />
		
		<% 	var from = [];
			for(var i=0; i<messages.length; i++) 
			{ 
				from = !messages[i].from || !messages[i].from.length
					? [{ name:"empty", address: "empty" }]
					: messages[i].from;
				
		%>
			<div class="row-fluid inbox-row" data-target="#message<%= messages[i].id %>" role="button"
				data-toggle="modal"
				id="m-<%= messages[i].id %>">
				
				<div class="span3 bold"
					title="<%= from[0].name %> - <%= from[0].address %>">
					
					<%=( i+1 )%>.&nbsp;
					
					<%=( from[0].name || from[0].address )%>
				</div>
				
				
				<div class="span6" style="vertical-align:middle;">
					<%=messages[i].subject%>
				</div>
				
				
				<div class="span3" style="text-align:right">
					<script type="text/javascript">
					(function(){
						var msgDate = new Date(<%= +new Date(messages[i].received)%>),
							msgCompare = msgDate.toFormat('YYYYMMDD');

						if(msgCompare == now)
							document.write( msgDate.toFormat('H:MI PP') );
						else if(now - msgCompare < 7)
							document.write( msgDate.toFormat('H:MI PP DDD') );
						else
							document.write( msgDate.toFormat('H:MI PP DDD MMM D, YYYY') );
					})();
					</script>
				</div>
				
			</div>
			
		<% } if(!messages.length) { %>
		
		<p>No mail!</p>
		
		<% 	} %>
	

	</div>

</div>
<div class="span3">
	<%- include survey_box.ejs %>
</div>
</div>



<% for(var i=0; i<messages.length; i++) { %>

	<div class="modal hide message-modal" 
		role="dialog" aria-hidden="true"
		tabindex="-1"
		id="message<%= messages[i].id %>">
		
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" 
			style="color:#fff"
			aria-hidden="true">&times;</button>
			<div class="row-fluid">
				<div class="span7">
					<h5><%= messages[i].subject %></h5>
					<h6>
						<%= messages[i].from[0].address %>

						<% if(messages[i].to.length > 1) { %>
							to
							<%= messages[i].headers.to %>

						<% } else { %>
							to <span title="<%= messages[i].headers.to %>">me</span>
						<% } %>

					</h6>
				</div>
				<div class="span4">
					<h6>
						<script type="text/javascript">
						(function(){
							var msgDate = new Date(<%= +new Date(messages[i].received)%>);
							if(msgDate.toFormat('YYYYMMDD') == now)
								document.write( 
									msgDate.toFormat('H:MI PP') 
									+ " (" 
									+ ( 
										parseFloat(new Date().toFormat('HH24')) - parseFloat(msgDate.toFormat('HH24')) 
									  )
									+ " hours ago)"
								);

							else
								document.write(
									msgDate.toFormat('DDD MMM D, YYYY') 
									+ " (" 
									+ ( 
										parseFloat(new Date().toFormat('YYYYMMDD')) - parseFloat(msgDate.toFormat('YYYYMMDD')) 
									  )
									+ " days ago)"
									+ "<br />" 
									+ msgDate.toFormat('H:MI PP') 
								);
						})();
						</script>
					</h6>
				</div>
			</div>
			
			
			<div style="line-height:1.8em;" class="hidden-phone">
				<button onclick="$(this).parent().parent().next().find('.msg-body,.msg-text').each(function(){$(this).fadeToggle(100)})"
					title="Toggle Text/HTML mode"
					class="btn btn-small btn-info">
					toggle text/html
				</button>
				<a href="/dirty/<%=messages[i]._id%>" 
					class="btn btn-small btn-warning"
					target="_blank">
					UNBLOCK links &amp; images
				</a>
				
				<a href="/raw/<%=messages[i]._id%>" class="btn btn-small btn-info"
					title="View the raw message headers"
					target="_blank">
					raw message
				</a>
				
				<button type="button" 
				onclick="DeleteMessage('<%=messages[i]._id%>');$('tr#m-<%=i%>').remove();$('#inboxTotal').text(parseFloat($('#inboxTotal').text())-1);"
					data-dismiss="modal" 
					title="Delete this message"
					class="btn btn-small btn-danger">
					<i class="icon-trash icon-white"></i>
				</button>
			</div>
			<div style="line-height:1.8em;" class="visible-phone">
				<div class="btn-group">
				  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="color:#000">
				    Actions
				    <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu">
					<li>
						<a onclick="$(this).parent().parent().next().find('.msg-body,.msg-text').each(function(){$(this).fadeToggle(100)})"
							href="javascript:void(0)"
							title="Toggle Text/HTML mode">
							Toggle text / HTML
						</a>
					</li>
					<li>
						<a href="/dirty/<%=messages[i]._id%>" 
							target="_blank">
							Unblock links &amp; images
						</a>
					</li>
					
					<li>
						<a href="/raw/<%=messages[i]._id%>" 
							title="View the raw message headers"
							target="_blank">
							Raw message headers
						</a>
					</li>
					
					<li><a
						onclick="DeleteMessage('<%=messages[i]._id%>');$('tr#m-<%=i%>').remove();$('#inboxTotal').text(parseFloat($('#inboxTotal').text())-1);"
						data-dismiss="modal" 
						title="Delete this message"
						href="javascript:void(0)">
						Delete this message
						</a>
					</li>
				  </ul>
				</div>
			</div>
		</div>
		
		<div class="modal-body">
			
			<!-- cc -->
			<% if(messages[i].cc.length>0) { %>
			<p>
			<strong>cc</strong>
			&nbsp;
			<% for(var c=0; c<messages[i].cc.length; c++) { %>
				
				<%=messages[i].cc[c].address%>
				&nbsp;
			
			<% } %>
			</p>
			<% } %>
			
			<!-- bcc -->
			<% if(messages[i].bcc.length>0) { %>
			<p>
			<strong>bcc</strong>
			&nbsp;
			<% for(c=0; c<messages[i].bcc.length; c++) { %>
				
				<%=messages[i].bcc[c].address%>
				&nbsp;
			
			<% } %>
			</p>
			<% } %>
			
			
			<div class="msg-body"><%-messages[i].body%></div>
			<div class="msg-text hide"><%-messages[i].text%></div>
		</div>
		
		
	</div>
<% } %>

